@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
  margin:0;
  padding:0px;
  font-family: 'PT Sans', sans-serif;
  background-color: #FFF2CC;
  
}
/*
*{
  box-sizing: border-box;
}
*/


table{
  position: absolute;
  z-index: 2;
  left: 81%;
    top: 50%;
    transform:translate(-100%, -25%);
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
    background: #fafafa;
    overflow:hidden;

    
}
/*

table{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
    background: #fafafa;
}

div{
  width:95%;
  height: 405px;
  overflow-x:hidden;
  
}
*/

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
}

.table th{
  background-color: #D86C70;
  color: #ffffff;
}

th{
  text-transform: uppercase;
}

.table tbody tr:nth-child(even){
  background-color:#f5f5f5;
}


/*
.table{
  width: 100%;
  border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
}

.table th{
  background-color: darkblue;
  color: #ffffff;
}
.table tbody tr:nth-child(even){
  background-color:#f5f5f5;
}

responsive*/

@media(max-width: 500px){
  .table thead{
    display:none;
  }

  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }
  .table tr{
    margin-bottom: 15px;
  }
  .table td{
    text-align: right;
    padding-left: 50%;
text-align: right;
position: relative;
  }
  .table td::before{
    content: attr(data-label);
    position: absolute;
    left:0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}