body{
  margin: 0;
  padding: 0;
  background-image: url(https://images.pexels.com/photos/7319070/pexels-photo-7319070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
  display: inline-block;
  color:#fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: 25px;
  padding: 0 20px;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}